<!DOCTYPE html>
<html>
<head>
  <title>PackageTracker</title>
  <%= stylesheet_link_tag    "package_tracker/application", media: "all" %>
  <%= javascript_include_tag "package_tracker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
